<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.blubox">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BluBox">



        <activity
            android:name=".Userdata"
            android:label="@string/title_activity_userdata">

        </activity>
        <activity
            android:name=".services_list.ToDoList"
            android:label="@string/title_activity_to_do_list"
            android:theme="@style/Theme.BluBox.NoActionBar" /> <!-- Splash screen -->
        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BluBox.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main activity -->
        <activity android:name=".MainActivity" />
    </application>

</manifest>